body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root{
  margin: 0;
  text-align: center;
}
.App{
  margin-left: 60px;
  margin-right: 60px;
  color: black;
}
td{
  padding: 10px;
}

.time{
  height: 40px;
}

.Events{
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.Events h6, h5{
  margin: 5px 0;
  text-align: center;
}



.Container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.card{
  color: black;
  background: white;
  box-shadow: 0 15px 25px #817c7c33;
  font-size: medium;
  backdrop-filter: blur(2px);
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 450px;
  border-radius: 10px 20px 30px 40px;
  border-radius: 0 0 10px 10px;
}

.card img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(77, 44, 145, 0.15);
}

h5{
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h6{
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

button{
  background-color: ;
  cursor: pointer;
  padding: 10px 18px;
  margin: 5px;
  border-radius:8px;
}